extends layout

block content
  h1= title

  h1 /notification
  p method: 'POST'
  p description: Send push notification to one user using his Expo Token
  h2 Params:
  p token (String): User expo token
  p title (String): The title of the notification
  p description (String): Content of the notification
  h1 /notification-many
  p method: 'POST'
  p description: Send push notification to many user using theire Expo Token
  h2 Params:
  p token (Array of string): Users expo token in a array form
  p title (String): The title of the notification
  p description (String): Content of the notification
    